<div class="multi-step-container">
  <aside class="side-steps">
    <!-- total 4 steps -->
    <div class="side-step" [ngClass]="{active: carouselIndex == 0}">
      <div class="step-number"></div>
      <div class="step-label">
        <div>STEP</div>
        <div>YOUR INFO</div>
      </div>
    </div>
    <div class="side-step" [ngClass]="{active: carouselIndex == 1}">
      <div class="step-number"></div>
      <div class="step-label">
        <div>STEP</div>
        <div>SELECT PLAN</div>
      </div>
    </div>
    <div class="side-step" [ngClass]="{active: carouselIndex == 2}">
      <div class="step-number"></div>
      <div class="step-label">
        <div>STEP</div>
        <div>ADD-ONS</div>
      </div>
    </div>
    <div class="side-step" [ngClass]="{active: carouselIndex >= 3}">
      <div class="step-number"></div>
      <div class="step-label">
        <div>STEP</div>
        <div>SUMMARY</div>
      </div>
    </div>
  </aside>

  <section class="form-section">
    <!-- use carousel-->
    <ngb-carousel #carousel [interval]="0" [keyboard]="false" [showNavigationArrows]="false"
      [showNavigationIndicators]="false" (slide)="onSlideStart" (slid)="onSlideEnd()">
      <!-- step1 info -->
      <ng-template ngbSlide [id]="'info'">
        <div class="form-step">
          <h3>Personal Info</h3>
          <p class="p-sub-heading">
            Please provide your name, email address, and phone number.
          </p>
          <form name="infoForm" [formGroup]="infoForm" class="form-container">
            <!-- name -->
            <div class="input-container" *ngIf="infoForm.get('name') as nameControl">
              <label for="name">Name</label>
              <span class="validate-error" *ngIf="nameControl.touched && nameControl.hasError('required')">
                This field is required
              </span>
              <input type="text" id="name" pInputText formControlName="name" placeholder="e.g. Stephen King" />
            </div>
            <!-- email -->
            <div class="input-container" *ngIf="infoForm.get('email') as emailControl">
              <label for="email-address">Email</label>
              <span class="validate-error" *ngIf="emailControl.touched && emailControl.hasError('required')">
                {{ emailControl.hasError('required') ? "This field is required" : "Invalid email"}}
              </span>
              <input type="text" id="email-address" pInputText formControlName="email"
                placeholder="e.g. Stephen King@lorem.com" />
            </div>
            <!-- phone -->
            <div class="input-container" *ngIf="infoForm.get('phone') as phoneControl">
              <label for="phone-number">Phone Number</label>
              <span class="validate-error" *ngIf="phoneControl.touched && phoneControl.hasError('required')">
                {{phoneControl.hasError('required') ? "This field is required" : "Invalid phone number"}}
              </span>
              <input type="text" id="phone-number" pInputText formControlName="phone"
                placeholder="e.g. +1 234 567 890" />
            </div>
          </form>
        </div>
      </ng-template>

      <!-- step2 plan -->
      <ng-template ngbSlide [id]="'plan'">
        <div class="form-step">
          <h3>Select your plan</h3>
          <p class="p-sub-heading">You have the option of monthly or yearly billing.</p>
          <form name="plan" [formGroup]="planForm" class="form-container">
            <!-- demo from PrimeNg -->
            <!-- <p-listbox [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"
              [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }">
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" />
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-listbox> -->

            <p-listbox [options]="availablePlans" formControlName="plan" class="plan-list-box">
              <ng-template let-item pTemplate="item">
                <div class="plan-container">
                  <img src="{{'assets/images/' + item.imgUrl}}" alt="{{item.label + 'plan icon'}}">
                  <div class="plan-description">
                    <!-- 需要显示成 $9/mon， 所以有$符号-->
                    <p class="p-sub-heading">${{ planForm.get('year')?.value ? item.yearPrice + '/yr' : item.monthPrice
                      + '/mo'}}</p>
                    <p class="p-smaller" *ngIf="planForm.get('year')?.value">2 months free</p>
                  </div>
                </div>
              </ng-template>
            </p-listbox>
            <!-- switch button year or month -->
            <div class="switch-container">
              <span [ngClass]="{ active: !planForm.get('year')?.value}">Monthly</span>
              <p-inputSwitch formControlName="year"></p-inputSwitch>
              <span [ngClass]="{ active: planForm.get('year')?.value}">Yearly</span>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- step3 info -->
      <ng-template ngbSlide [id]="'add-ons'">
        <div class="form-step">
          <h3>Pick add-ons</h3>
          <p class="p-sub-heading">Add-ons help enhance your gaming experience.</p>
          <form [formGroup]="addOnForm" class="form-container">
            <p-listbox [checkbox]="true" [multiple]="true" [showToggleAll]="false" [options]="availableAddOns"
              formControlName="addOns" class="addon-list-box">
              <ng-template let-item pTemplate="item">
                <div class="extras-description">
                  <p class="p-heading">{{ item.service }}</p>
                  <p class="p-sub-heading">{{ item.description }}</p>
                </div>
                <p class="extras-price">$+{{ planForm.get('year')?.value ? item.yearPrice + "/yr" : item.monthPrice +
                  "/mo"}}</p>
              </ng-template>
            </p-listbox>
          </form>
        </div>
      </ng-template>

      <!-- step4 summary -->
      <ng-template ngbSlide [id]="'summary'">
        <div class="form-step">
          <h3>Finishing up</h3>
          <p class="p-sub-heading">
            Double-check everything looks OK before confirming.
          </p>
          <div class="summary-container">
            <div class="summary-detail">
              <!-- 选择plan展示 -->
              <div class="summary-plan">
                <ng-container *ngIf="planForm.get('plan')?.value as selectedPlan">
                  <div>
                    <p class="p-heading">{{ selectedPlan.label }} ( {{planForm.get('year')?.value ? "Yearly" :
                      "Monthly"}} )</p>
                    <a href="" class="p-sub-heading" (click)="changePlan($event)">Change</a>
                  </div>
                  <span class="p-heading">
                    ${{ planForm.get('year')?.value ? selectedPlan.yearPrice + '/yr' : selectedPlan.monthPrice
                    + '/mo' }}
                  </span>
                </ng-container>
              </div>
              <!-- 显示被选择的add-ons -->
              <ng-container *ngIf="addOnForm.get('addOns')?.value as selectedAddOns">
                <hr *ngIf="selectedAddOns.length">
                <div class="summary-extra" *ngFor="let addon of selectedAddOns">
                  <span>{{ addon.service }}</span>
                  <span>+${{ planForm.get('year')?.value ? addon.yearPrice + "/yr" : addon.monthPrice + "/mo"}}</span>
                </div>
              </ng-container>
            </div>

            <div class="summary-total">
              <span>Total (per {{planForm.get('year')?.value ? "year" : "month" }} )</span>
              <span>${{getTotal}}{{planForm.get('year')?.value ? "/yr" : "/mo" }}</span>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Final -->
      <ng-template ngbSlide [id]="'completed'">
        <div class="form-step final">
          <img src="assets/images/icon-thank-you.svg" alt="thank-you icon" />
          <h3>Thank you!</h3>
          <p class="p-sub-heading">
            Thanks for confirming your subscription! We hope you have fun
            using our platform. If you ever need support, please feel free
            to email us at support@loremgaming.com.
          </p>
          <button pButton [disabled]="btnDisabled" type="button" label="Reset" aria-label="Reset form" icon="pi pi-undo"
            class="carousel-button reset-button p-button-secondary p-button-text" (click)="onReset()">
          </button>
        </div>
      </ng-template>

    </ngb-carousel>
  </section>

  <!-- buttons -->
  <section class="form-controls" *ngIf="carouselIndex < 4">
    <button pButton [disabled]="btnDisabled" type="button" aria-label="Go Back" label="Go Back"
      *ngIf="carouselIndex != 0" class="carousel-button prev-button p-button-text p-button-secondary"
      [ngClass]="{hidden: carouselIndex === 0}" (click)="onBack()">
    </button>
    <button pButton [disabled]="btnDisabled || infoForm.invalid" type="button" aria-label="Next"
      label="{{carouselIndex === 3 ? 'Confirm': 'Next Step'}}" class="carousel-button next-button"
      [ngClass]="carouselIndex === 3? 'p-button-primary': 'p-button-secondary'" (click)="onNext()">
    </button>
  </section>
</div>